
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="welocomeFormGroup">
    <form class="form-control form-control-lg" [formGroup]="welocomeFormGroup">
      <ng-template matStepLabel>Welcome</ng-template>
        <h1>Home Loan will be prefect solution if you need a load for a new home</h1>
        <h1>Welcome to Swedbank</h1>
        <br/>
      <div class="button">
        <button mat-button matStepperNext>Start Application</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup">
    <form class="form-control form-control-lg" [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Step 1</ng-template>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" formControlName="name" required>
      </mat-form-field>
      <br/>
     
      <div class="button">
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  
  <mat-step [stepControl]="secondFormGroup">
    <form class="form-control form-control-lg"   [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Step 2</ng-template>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="Lastname" required>
      </mat-form-field>
      <br/>
      
      <br/>
      <div class="button">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form class="form-control form-control-lg"   [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Step 3</ng-template>
      <mat-form-field>
        <mat-label>How Much Do You Earn</mat-label>
        <input matInput placeholder="How Much Do You Earn"  formControlName="amount" required>
      </mat-form-field>
      <br/>
      <div class="button">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="forthFormGroup">
    <form class="form-control form-control-lg"   [formGroup]="forthFormGroup">
      <ng-template matStepLabel>How Much Do You Want To Loan </ng-template>
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput placeholder="Amount" formControlName="Loan" required>
      </mat-form-field>
      <br/>
      
      <br/>
      <div class="button">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  
  <mat-step>
    <div class="text-align">
      <div class="items">
        <div class="items-head">
          <ng-template matStepLabel>Done</ng-template>
          <p>You are  done.</p>
        </div>
        <div class="items-body">
           <mat-list  >
          <mat-list-item class="items-body-content"> <strong>Name:</strong> <span class="result">{{ this.firstFormGroup.value.name }}</span></mat-list-item>
          <mat-list-item class="items-body-content"> <strong>Lastname:</strong><span class="result">{{ this.secondFormGroup.value.Lastname }}</span> </mat-list-item>
          <mat-list-item class="items-body-content"> <strong>Amount:</strong> <span class="result">{{ this.thirdFormGroup.value.amount }}</span></mat-list-item>
          <mat-list-item class="items-body-content"> <strong>Loan:</strong><span class="result"> {{ this.forthFormGroup.value.Loan }}</span></mat-list-item>
         </mat-list>
        </div>
       
         
           <div class="button" >
             <button mat-button matStepperPrevious>Back</button>
             <button mat-button (click)="stepper.reset()">Reset</button>
             <button mat-button (click)="submit()">Submit</button>
           </div>
      </div>
   
  
  
   </div>
  </mat-step>
 
</mat-horizontal-stepper>

<style>
.form-control-lg{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 10px;
  font-family: 'poppins';
}
.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 309px;
    font-family: 'poppins';
}
.text-align{
  border: 1px solid rgb(184, 184, 184);
  position: absolute;
  top: 0 ;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: grid;
  place-items: center;

}
.items{
  width:  40%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 10px;
}
.items-head p{
  padding:  5px 20px;
  margin: 10px;
  color: #0b5aa2;
  font-weight: bold;
  font-size: 20px;
  font-family: 'poppins';
  text-align: center;
}
.items-head hr{
  width: 20px;
  margin: 0px 30px;
  border: 1px solid rgb(26, 195, 195);
}
.items-body{
  padding: 10px;
  margin: 10px;
  display: grid;
  gap:10px;
  font-family: 'poppins';

}
.items-body-content{
  padding: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: 13px;
  gap: 10px;
  border:1px solid transparent;
  cursor: pointer;
  font-family: 'poppins';
}
.items-body-content:hover{
  border-radius: 15px;
  border: 1px solid rgb(170, 170, 170);
}
.items-body-content span{
  align-self: center;
  font-size: 15px;
  color: black;
  font-weight: bold;
  margin: 20px;
  font-family: 'poppins';
}
.button .mat-button{
  position: relative;
  display: inline-flex;
  
  height: 55px;
  margin: 0 15px;
  margin-bottom: 20px;
  perspective: 1000px;
  background-color: rgb(88, 88, 224) ;
}

.button .mat-button {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'poppins';
}
.button .mat-button  :before,button .mat-button {
  position: absolute;
  content: "BUTTON";
  height: 55px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
</style>